.header {
    position: relative;
    background-color: transparent;
    background-image: url(../images/bg1.jpeg);
    background-size: cover;
}

.headerContainer {
    padding-top: 3rem;
    background-color: rgba(0, 0, 0, .5);
}

.col1 {
    display: flex;
    align-items: center;
}

.heading {
    font-family: Rubik;
    font-weight: 2040px;
    font-size: 28pt;
    font-style: normal;
    width: fit-content;
    color: #eb3838;
    padding: .4rem;
    background-color: rgba(243, 222, 222, 0.781);
    border-radius: .3rem;
    border-bottom: 3px solid rgb(22, 35, 218);
    margin: auto;
}

.col1Info .line {
    width: 2px;
    /* height: 1rem; */
    margin: auto;
    border-radius: 5rem;
    background: rgba(255, 174, 0, 0.726);
}

.col1Info .speaker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1Info i{
    font-weight: normal;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 10pt;
}

.col1Info .leftLine,
.col1Info .rightLine{
    width: .7rem;
    height: 1px;
    background-color: #fff;
}

.firstpara {
    font-family: Montserrat;
    font-size: 19pt;
    font-weight: bold;
    color: #d8dbdd;
    text-align: left;
    text-justify: inner-word;
    margin-top: 2rem;
    line-height: 1.9;
}

mark{
    border-radius: .3rem;
    padding: .2rem;
}

mark:nth-child(3){
    background-color: rgb(243, 30, 48);
    color: #fff;
    text-decoration-line: none !important;
}

mark:nth-child(5){
    background-color: rgb(204, 74, 14);
    color: #fff;
    text-decoration-line: none !important;
}

mark:nth-child(6){
    background-color: rgb(34, 37, 197);
    color: #fff;
    text-decoration-line: none !important;
}

 